{% extends 'hotel/base_hotel.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/rooms.css">
{% endblock %}

{% block content %}

<ul class="room-list">
    {% for booking in all_booking %}
    <form method="post">
        {% csrf_token %}
        <input class="input-1" type="hidden" name="booking_id" value="{{ booking.id }}">
        <li class="room-item">
            <div class="room-text">
                <label>{{ booking.room }}</label><br>
                <label>Check in/out: </label>
                <label>{{ booking.check_in_date }} --></label>
                <label>{{ booking.check_out_date }}</label><br>
                <label>Total cost: {{ booking.calculate_total_cost }}</label>
            </div>
            <button class="button-1" name="delete_item"> Delete</button>
        </li>
    </form>
    {% empty %}
    <li>No rooms</li>
    {% endfor %}
</ul>
<form method="post">
    {% csrf_token %}
    <button class="button-1" name="confirm"> Confirm</button>
</form>

<form method="post">
    {% csrf_token %}
    <details>
        <summary>Оставить отзыв</summary>
        <input class="input-1" type="range" name="range" min="1" max="5"><br/>
        <textarea name="text"></textarea><br/>
        <button class="button-1" type="submit" name="review">Оставить отзыв</button>
    </details>
</form>

{% endblock %}