{% extends 'hotel/base_hotel.html' %}

{% block head %}
<meta name="description" content="Главная. Последняя статья и информация о компаниях-партнерах">
<meta name="keywords" content="статья, последняя статья, компании-партнеры, партнерство">
<link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block content %}
<div hidden id="rotationInterval"> {{ miliseconds }}</div>
<section id="top">
    <h2 id="text">HOTEL</h2>
    <img class="my-img" src='/static/items/redItem.png' id="item_left"/>
    <img class="my-img" src='/static/items/blueItem.png' id="item_right"/>
</section>

<script src="/static/js/main.js"></script>

<div id="countdown">Обратный отсчет: <span id="timer"></span></div>
<script src="/static/js/timer.js"></script>

<div class="content">
    <section class="text" itemscope itemtype="http://schema.org/Article">
        <h2 itemprop="name">Последняя статья:</h2>
        <h3 itemprop="headline">{{ latest_article.title }}</h3>
        <hr color="(74, 71, 62)">
        <p itemprop="description">{{ latest_article.content|slice:"200" }}
            {% if latest_article.content|length > 200 %}...{% endif %}</p>
        <br/>
    </section>

    <aside class="image">
        <div class="banner">
            <a href="https://mak.by/ru/">
                <img src="static/banner/mac.jpg" alt="Рекламный баннер mac">
            </a>
        </div>
        <div class="banner" style="display: none;">
            <a href="https://burger-king.by/">
                <img src="static/banner/burger-king.jpg" alt="Рекламный баннер burger-king">
            </a>
        </div>
    </aside>
    <script src="/static/js/banner.js"></script>
</div>

{% if user.is_superuser%}
<form method="POST" style="margin: 20px; display: flex; flex-direction: column; align-items: center;">
    {% csrf_token %}
    <label for="number">Промежуток времени</label>
    <label for="number">Введите число от 1 до 99999</label>
    <input class="input-1" type="number" id="number" name="number" min="1" max="99999" required>
    <button class="button-1" name="new_number">Отправить</button>
</form>
{%endif%}

<article itemscope itemtype="http://schema.org/Organization">
    <h2>Компании-партнеры:</h2>
    <ul>
        <li itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a href="https://alfabank.ru/">
                <img src="static/partners/alpha.png" alt="Логотип 1" width="100">
            </a>
        </li>
        <li itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a href="https://www.amazon.com/">
                <img src="static/partners/amazon.png" alt="Логотип 2" width="100">
            </a>
        </li>
        <li itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a href="https://github.com/">
                <img src="static/partners/github.png" alt="Логотип 3" width="100">
            </a>
        </li>
        <li itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a href="https://vk.com/">
                <img src="static/partners/vk.png" alt="Логотип 4" width="100">
            </a>
        </li>
    </ul>
</article>
{% endblock %}
