{% extends 'hotel/base_hotel.html' %}

{% block content %}

<aside style="float: right;">
    <a href="https://mak.by/ru/">
        <img src="static/banner/mac.jpg" align="center" alt="Рекламный баннер" width="200">
    </a>
</aside>
<section>
    <h2>Последняя статья:</h2>
    <h3>{{ latest_article.title }}</h3>
    <p>{{ latest_article.content|slice:"200" }}
        {% if latest_article.content|length > 200 %}...{% endif %}</p>
    <br/>
</section>
<article>
    <h2>Компании-партнеры:</h2>
    <ul style="list-style: none; padding: 0; display: flex;">
        <li><a href="https://alfabank.ru/">
            <img src="static/partners/alpha.png" alt="Логотип 1" width="100"></a>
        </li>
        <li><a href="https://www.amazon.com/">
            <img src="static/partners/amazon.png" alt="Логотип 2" width="100"></a></li>
        <li><a href="https://github.com/">
            <img src="static/partners/github.png" alt="Логотип 3" width="100"></a>
        </li>
        <li><a href="https://vk.com/">
            <img src="static/partners/vk.png" alt="Логотип 4" width="100"></a>
        </li>
    </ul>
</article>
{% endblock %}