{% extends 'hotel/base_hotel.html' %}

{% block head %}
<meta name="description" content="Отзывы о нашей компании">
<meta name="keywords" content="отзывы, обратная связь, рейтинг, оценки">
<link rel="stylesheet" href="/static/css/review.css">
{% endblock %}

{% block content %}


<div class="loader2"></div>
<div class="date">
    <label for="birthdate" id="text">Введите вашу дату рождения:</label>
    <input class="input-1 " type="date" id="birthdate">
    <button class="button-1 " id="calculateAge">Check</button>
</div>
<script src="/static/js/check_date.js"></script>

<h1>Отзывы</h1>

{% if user.is_authenticated %}
<label class="review" onclick="window.location.href='{%url 'profile_user:profile' %}';">Добавить отзыв</label>
{% else %}
<label class="review" onclick="window.location.href='{%url 'auth_user:register' %}';">Добавить отзыв</label>
{% endif %}

<ul>
    {% for review in reviews %}
    <li itemscope itemtype="http://schema.org/Review">
        <p itemprop="author">Автор: {{ review.author }}</p>
        <p itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            Оценка: <span itemprop="ratingValue">{{ review.rating }}</span>
        </p>
        <p itemprop="reviewBody">{{ review.text }}</p>
        <p itemprop="datePublished">Дата: {{ review.date }}</p>
    </li>
    {% endfor %}
</ul>

{% endblock %}