{% extends 'hotel/base_hotel.html' %}

{% block content %}

<h1>Промокоды и купоны</h1>

<table border="10px">
    <tr>
        <th>Код</th>
        <th>Описание</th>
        <th>Действует</th>
    </tr>
    {% for coupon in coupons_true %}
    <tr>
        <td>{{ coupon.code }}</td>
        <td>{{ coupon.description }}</td>
        <td>Да</td>
    </tr>
    {% endfor %}
    {% for coupon in coupons_false %}
    <tr>
        <td>{{ coupon.code }}</td>
        <td>{{ coupon.description }}</td>
        <td>Нет</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}