{% extends 'hotel/base_hotel.html' %}

{% block head %}
<meta name="description" content="Страница с промокодами и купонами">
<meta name="keywords" content="промокоды, купоны, акции, скидки">
<link rel="stylesheet" href="/static/css/coupon.css">
{% endblock %}

{% block content %}

<h1 id="h1">Промокоды и купоны</h1>
<form id="settingsForm">
    <label for="fontSize">Размер шрифта:</label>
    <input type="range" id="fontSize" min="1" max="100">

    <label for="textColor">Цвет текста:</label>
    <input type="color" id="textColor">

    <label for="bgColor">Цвет фона:</label>
    <input type="color" id="bgColor">
</form>
<table border="10px">
    <tr>
        <th>Код</th>
        <th>Описание</th>
        <th></th>
        <th>Действует</th>
    </tr>
    {% for coupon in coupons_true %}
    <tr>
        <td>{{ coupon.code }}</td>
        <td colspan="2">{{ coupon.description }}</td>
        <td>Да</td>
    </tr>
    {% endfor %}
    {% for coupon in coupons_false %}
    <tr>
        <td>{{ coupon.code }}</td>
        <td colspan="2">{{ coupon.description }}</td>
        <td>Нет</td>
    </tr>
    {% endfor %}
</table>

<script src="/static/js/coupon.js"></script>
{% endblock %}