<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Klimkovich Nikolay">
    <title>Hotel</title>
    <link rel="icon" href="/static/logo/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/footer-header.css">
    <link rel="stylesheet" href="/static/css/other.css">
    {% block head %} {% endblock %}
</head>
<body>
<div class="loader"></div>
<script src="/static/js/base.js"></script>

<div class="box-items-1">
    <div class="whiteImage"></div>
    <div class="blackYellowImage"></div>
</div>
<div class="wrapper">
    <header class="menu">
        <label class="logo" onclick="window.location.href='{%url 'main:home' %}';">HOTEL</label>
        <div class="menu-items">
            <label class="my-button" onclick="window.location.href='{%url 'hotel:hotel_list' 0 %}';">ROOMS</label>
            <label class="my-button" onclick="window.location.href='{%url 'review:home' %}';">REVIEW</label>
            <select class="select-1" onchange="window.location.href=this.value;">
                <option value="" selected disabled>MENU</option>
                <option value="{%url 'news:home' %}">NEWS</option>
                <option value="{%url 'faq:home' %}">FAQ</option>
                <option value="{%url 'employee:home' %}">CONTACTS</option>
                <option value="{%url 'coupon:home' %}">COUPONS</option>
                <option value="{%url 'about:home' %}">ABOUT</option>
            </select>

            {% if user.is_authenticated %}

            <div>
                <label class="my-button">{{user.username}}</label>
                <label class="my-button" onclick="location.href='{%url 'auth_user:logout' %}'">Sign Out</label>
            </div>
            {% else %}
            <div>
                <label class="my-button" onclick="location.href='{%url 'auth_user:register' %}'">Up</label>
                <label class="my-button" style="cursor: default">/</label>
                <label class="my-button" onclick="location.href='{%url 'auth_user:login' %}'">In</label>
            </div>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <a class="my-button" href="/static/policy/policy.pdf" download="Privacy_Policies.pdf">PRIVACY POLICIES</a>
        <label class="my-button" onclick="window.location.href='{%url 'vacancy:home' %}';">VACANCY</label>
    </footer>
</div>
<div class="box-items-2">
    <div class="yellowImage"></div>
    <div class="greenImage"></div>
</div>


</body>
</html>
