{% extends 'hotel/base_hotel.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/rooms.css">
{% endblock %}

{% block content %}
<div class="all-item">
    {% if user.is_authenticated and not user.is_superuser %}
    <div class="but1">
        <label class="button-1" style="float: right;"
               onclick="window.location.href = '{% url 'profile_user:profile' %}'">Profile
        </label>
    </div>
    {% endif %}

    {% if user.is_superuser %}
    <div class="but2">
        <label class="button-1" style="float: right;"
               onclick="window.location.href = '{% url 'hotel:hotel_analyse' %}'">Analyse
        </label>
        <label class="button-1" style="float: right;"
               onclick="window.location.href = '{% url 'hotel:room_create' %}'">Add
        </label>
    </div>
    {%endif%}

    <div class="but3">
        {% if is_sort_by_price %}
        <label class="button-1" style="float: right;"
               onclick="window.location.href = '{% url 'hotel:hotel_list' choose_category%}'">
            Sort by Price
        </label>
        {% else %}
        <label class="button-1" style="float: right;"
               onclick="window.location.href = '{% url 'hotel:hotel_list_sort_by_price' choose_category%}'">
            Sort by Price
        </label>
        {% endif %}

        <select class="select-1" style="float: right;" id="categorySelector" onchange="redirectToSelectedCategory()"
                onselect=choose_category>
            <option value="{% url 'hotel:hotel_list' 0 %}">All</option>
            {% for category in categories %}
            <option value="{% url 'hotel:hotel_list' category.id %}"
                    {% if category.id == choose_category %}
                    selected
                    {% endif %}>
                {{ category.name }}
            </option>
            {% endfor %}
        </select>
        <script>
            function redirectToSelectedCategory() {
                var selectedOption = document.getElementById("categorySelector").value;
                window.location.href = selectedOption;
            }
        </script>

    </div>
    {% if user.is_authenticated or user.is_superuser %}
    <div class="api">
        <label>Quote: {{timezone_context.quote}}</label><br>
        <label>Joke: {{timezone_context.joke}}</label>
    </div>
    {%endif%}
    <ul>
        {% for m in rooms %}
        <li class="card-wrapper" onclick="window.location.href='{% url 'hotel:room_id' m.id %}'">
            {% load static %}
            <div class="card">
                <div style="height:250px;"></div>
                <div class="name-room">{{ m }}</div>
                <div>Capacity: {{ m.capacity }}</div>
                <div>Price: {{ m.price }}</div>
                {% if user.is_superuser%}
                <form method="POST">
                    {% csrf_token %}
                    <input class="input-1" type="hidden" name="room_id" value="{{ m.id }}">
                    <button id="delete" name="button1" class="button-1 button-card">
                        Delete
                    </button>
                </form>
                {%endif%}
            </div>
            <img class="image-card" src="/{{ m.photo }}" alt="image">
        </li>
        {% empty %}
        <li>No rooms</li>
        {% endfor %}
    </ul>

    <header class="but5">
        <div><br>
            {{ timezone_context.calendar|safe }}<br>
            <label>User Timezone: {{ timezone_context.user_timezone }} |</label>
            <label>Current Date: {{ timezone_context.current_date|date:"d/m/Y" }} </label>
        </div>
    </header>
</div>
<script src="/static/js/rooms.js"></script>
{% endblock %}