{% extends 'hotel/base_hotel.html' %}


{% block content %}
<Label class="room-text">Total earnings: {{total_earnings}}</Label><br>
<Label class="room-text">Average bill: {{average_bill}}</Label><br><br>
<Label class="room-text">The most popular room: {{most_popular_room}}</Label><br>
<Label class="room-text">It has a total of {{total_bookings}} bookings</Label><br>

<img src="data:image/png;base64,{{ plot_data }}">

<ul class="room-list">
    {% for booking in bookings %}
    <li class="room-item">
        <div class="room-text">
            <label>Name: {{ booking.client }}</label><br>
            <label>Phone: {{ booking.client.phone_number }}</label><br>
            <label>Has child: {{ booking.has_child }}</label><br>
            <label>Check-In: {{ booking.check_in_date }}</label><br>
            <label>Check-Out: {{ booking.check_out_date }}</label><br>
            <label>Status: {{ booking.status }}</label><br>
            <label>Total cost: {{ booking.calculate_total_cost }}</label>
        </div>
    </li>
    {% empty %}
    <li>No booking</li>
    {% endfor %}
</ul>

<table border="2" style="width:100%;">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Has child</th>
        <th>Check-In</th>
        <th>Check-Out</th>
        <th>Status</th>
        <th>Total cost</th>
    </tr>
    {% for booking in bookings %}
    <tr>
        <td>{{ booking.client }}</td>
        <td> {{ booking.client.phone_number }}</td>
        <td> {{ booking.has_child }}</td>
        <td> {{ booking.check_in_date }}</td>
        <td> {{ booking.check_out_date }}</td>
        <td>{{ booking.status }}</td>
        <br>
        <td> {{ booking.calculate_total_cost }}</td>
    </tr>
    {% empty %}
    <li>No booking</li>
    {% endfor %}
</table>
{% endblock %}
