{% extends 'hotel/base_hotel.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/news.css">
{% endblock %}

{% block content %}
{% load static %}
<div style="text-align: center;">
    <img class="myimg" src="/{{ form.photo }}" alt="My image">
    <div>{{ form }}</div>
    <div>Capacity: {{ form.capacity }}</div>
    <label>Price: </label> <label id="price">{{ form.price }}</label>
    <br><br>

    {% if user.is_authenticated and not user.is_superuser%}

    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div style="text-align: center;">
            <label>Coupon:</label>
            <div hidden id="count">{{ count }}</div>
            <input class="input-1" type="text" id="coupon" name="text" value="{{ coupon }}">
            <button class="button-1" name="coupon">Apply</button>
        </div>
    </form>
    <br><br>

    <form method="POST">
        {% csrf_token %}
        <div style="text-align: center;">
            <label>Check-in date</label>
            <input class="input-1" type="date" name="check_in_date" required><br>

            <label>Disabled</label>
            <input class="input-1" type="date" name="check_in_date" disabled><br>

            <label>Check-Out date:</label>
            <input class="input-1" type="date" name="check_out_date" required><br>

            <label>Has_child (+5%):</label>
            <input class="input-1" type="checkbox" name="has_child" id="check"><br><br>

            <label>Total price: </label><label id="total"></label><br>
            <button class="button-1" name="book_room">Book a room</button>
        </div>
    </form>
    <br><br>
</div>
{%endif%}

{% if user.is_superuser %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="text-align: center;">
        <label>Price:</label>
        <input class="input-1" type="number" min="0" step="any" name="price" required><br>

        <label>Capacity:</label>
        <input class="input-1" type="number" min="0" max="10" name="capacity" required><br>

        <label>Photo:</label>
        <input class="input-1" type="file" name="photo" required><br>

        <label>Category:</label>
        <select class="register-button" name="select">
            {% for category in categories %}
            <option value="{{ category.id }}"> {{ category.name }}</option>
            {% endfor %}
        </select><br>

        <button class="button-1" name="edit_room">Edit</button>
    </div>
</form>
{%endif%}

<script src="/static/js/room_coupon.js"></script>
{% endblock %}