{% extends 'hotel/base_hotel.html' %}

{% block header %}
.room-text {
font-size: 28px;
line-height: 1.2;
margin-bottom: 5px;
text-align: center
}
{% endblock %}

{% block content %}
{% if user.is_superuser %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="text-align: center;" class="room-text">
        <label >Price:</label>
        <input type="number" min="0" step="any" name="price" required><br>

        <label >Capacity:</label>
        <input type="number" min="0" name="capacity" required><br>

        <label>Photo:</label>
        <input type="file" name="photo" required><br>

        <label >Category:</label>
        <select class="register-button" name="select">
            {% for category in categories %}
            <option value="{{ category.id }}"> {{ category.name }}</option>
            {% endfor %}
        </select><br><br>

        <button class="button1" name="create_room">Create</button>
    </div>
</form>
{%endif%}

{% endblock %}