{% extends 'hotel/base_hotel.html' %}

{% block header %}

.room-image {
width: 300px;
height: 300px;
background-color: #ccc;
margin: 0 auto 10px;
}

.room-text {
font-size: 28px;
line-height: 1.2;
margin-bottom: 5px;
text-align: center
}

{% endblock %}

{% block content %}
<div class="room-image"></div>
<div class="room-text">
    <div>{{ form }}</div>
    <div>Capacity: {{ form.capacity }}</div>
    <div>Price: {{ form.price }}</div>
    <br>

    {% if user.is_authenticated and not user.is_superuser%}

    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div style="text-align: center;">
            <label>Check-in date</label>
            <input type="date" name="check_in_date" required><br>

            <label>Check-Out date:</label>
            <input type="date" name="check_out_date" required><br>

            <label>Has_child:</label>
            <input type="checkbox" name="has_child"><br>

            <button class="register-button" name="book_room">Book a room</button>
        </div>
    </form>
</div>
{%endif%}

{% if user.is_superuser %}
<form method="POST">
    {% csrf_token %}
    <div style="text-align: center;">
        <label>Price:</label>
        <input type="number" min="0" step="any" name="price" required><br>

        <label>Capacity:</label>
        <input type="number" min="0" name="capacity" required><br>

        <label>Category:</label>
        <select class="register-button" name="select">
            {% for category in categories %}
            <option value="{{ category.id }}"> {{ category.name }}</option>
            {% endfor %}
        </select><br>

        <button class="register-button" name="edit_room">Edit</button>
    </div>
</form>
{%endif%}

{% endblock %}