{% extends 'hotel/base_hotel.html' %}

{% block header %}
.room-text {
font-size: 18px;
line-height: 1.2;
margin-bottom: 5px;
text-align: center
}

.room-item {
cursor: pointer;
background-color: #f2f2f2;
padding: 20px;
text-align: center;
}

.room-list {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
grid-gap: 20px;
margin-top: 20px;
list-style-type: none;
}
{% endblock %}


{% block content %}

<ul class="room-list">
    {% for booking in all_booking %}
    <li class="room-item">
        <div class="room-text">
            <label>{{ booking.room }}</label><br>
            <label>Check in/out: </label>
            <label>{{ booking.check_in_date }} --></label>
            <label>{{ booking.check_out_date }}</label><br>
        </div>
        {% csrf_token %}
        <button class="register-button"
                onclick="window.location.href = '{% url 'profile_user:delete_booking' booking.id %}'">
            Delete
        </button>
    </li>
    {% empty %}
    <li>No rooms</li>
    {% endfor %}
</ul>
<button class="register-button"
        style="text-align: center;"
        onclick="window.location.href = ''">
    Confirm
</button>

{% endblock %}