{% extends 'hotel/base_hotel.html' %}

{% block content %}

<img src="/static/logo/logo.png" alt="Логотип компании" width="400"
     style="display: flex; justify-content: center; align-items: center;">
<p>Отель «Минск» является первым отелем класса 4 звезды в Минске. Расположен он в самом центре белорусской столицы,
    всего в 10 минутах ходьбы от железнодорожного вокзала и основных достопримечательностей города. Номерной фонд
    составляют 252 номера, включая номера категории люкс, трёхкомнатные апартаменты и шикарный президентский номер.
    Гостиница готова удовлетворить требования самых изысканных гостей. Каждый номер оснащен современным оборудованием и
    имеет все необходимое для плодотворной работы и полноценного отдыха. К услугам гостей отеля: обслуживание в номерах,
    камера хранения, прачечная и доставка одежды в химчистку города, рестораны «Минск» и «Седьмое небо», бары,
    конференц-услуги, фитнес-центр, бизнес-центр, салон красоты, казино «Royal», прокат и аренда автомобилей. Мы
    надеемся, что перечисленные выше услуги сделают ваше пребывание в отеле «Минск» удобным и приятным. Пусть Минск для
    Вас начнется с отеля «Минск».</p>

<video controls width="640" height="360">
    <source src="/static/video/hotel.mp4" type="video/mp4">
    Ваш браузер не поддерживает воспроизведение видео.
</video>

<h2>История нашей компании</h2>
<ul>
    <li><strong>Основание:</strong> Гостиница была основана в 1990 году в Москве.</li>
    <li><strong>Строительство:</strong> Строительство гостиницы началось в 1985 году и завершилось в 1990 году.</li>
    <li><strong>Открытие:</strong> Гостиница была открыта в 1990 году.</li>
    <li><strong>Первые постояльцы:</strong> Первыми постояльцами гостиницы были иностранные туристы.</li>
    <li><strong>Первые события:</strong> В первый год работы гостиницы в ней прошли несколько международных конференций.
    </li>
    <li><strong>Развитие:</strong> В течение второго года работы гостиница продолжила развиваться и расширять свои
        услуги.
    </li>
    <li><strong>Увеличение числа постояльцев:</strong> Количество постояльцев гостиницы в течение второго года
        увеличилось на 20%.
    </li>
    <li><strong>Совершенствование услуг:</strong> Гостиница ввела новые услуги и удобства для своих постояльцев, такие
        как ресторан, бар и бассейн.
    </li>
    <li><strong>Участие в мероприятиях:</strong> Гостиница приняла участие в нескольких международных выставках.</li>
</ul>

<h2>Контактная информация</h2>
<p>Адрес: г. Минск</p>
<p>Телефон: +375 (29) 123-45-67</p>
<p>Email: hotel@gmail.com</p>

<h2>Сертификат</h2>
<img src="/static/other/sert.png" alt="Сертификат" width="400">

{% endblock %}