{% extends 'hotel/base_hotel.html' %}

{% block head %}
<meta name="description" content="Гостиничный комплекс РУП в Минске, старейшее предприятие гостиничного хозяйства">
<meta name="keywords" content="гостиница, Минск, рестораны, бары, фитнес-центр, бизнес-центр, контакты">
{% endblock %}


{% block content %}

<figure itemscope itemtype="http://schema.org/Hotel">
    <p><img src="/static/logo/logo.png" alt="Логотип компании" width="400"></p>
    <figcaption itemprop="name">Hotel</figcaption>
</figure>

<a href="#n1">См. сертификат</a>
<article>
    <p itemprop="description"><b>Гостиничный комплекс</b> <abbr title="Республиканское унитарное предприятие">РУП</abbr>
        является старейшим
        предприятием гостиничного хозяйства нашего города. Расположен он в самом центре <dfn title="Минск">белорусской
            столицы</dfn>, всего в 10 минутах ходьбы от железнодорожного вокзала и основных достопримечательностей
        города.
        Номерной фонд составляют <em itemprop="numberOfRooms">252 номера</em>, включая номера категории люкс,
        трёхкомнатные
        апартаменты и шикарный
        президентский номер. Гостиница готова удовлетворить требования самых изысканных гостей. Каждый номер оснащен
        современным оборудованием и имеет все необходимое для плодотворной работы и полноценного отдыха. К услугам
        гостей
        отеля: обслуживание в номерах, камера хранения, прачечная и доставка одежды в химчистку города, рестораны
        «Минск» и
        «Седьмое небо», бары, конференц-услуги, фитнес-центр, бизнес-центр, салон красоты, <s>казино «Royal»,</s> прокат
        и
        аренда автомобилей. Мы надеемся, что перечисленные выше услуги сделают ваше пребывание в отеле удобным и
        приятным.
    </p>
</article>
<article>
    <p>Основатель: <q cite="https://www.instagram.com/klimkovich_kolya/"><sup>Мы готовы</sup> предоставить вам высокий
        уровень обслуживания.</q>
        <time datetime="1990-08-6" itemprop="foundingDate">August 6th</time>
    </p>
    <hr>
</article>
<article>
    <p>
        Для работы сайт использует <abbr title="База данных">БД</abbr> <u>sqlite3</u><br>
        <code>
            class Client(AbstractUser):<br>
            first_name = models.CharField(max_length=100)<br>
            last_name = models.CharField(max_length=100)<br>
            patronymic = models.CharField(max_length=100)<br>
            birth_date = models.DateField()<br>
            phone_number = models.CharField(max_length=20)<br>
        </code>
    </p>
    <p>Например <var>first_name</var>:</p>
    <p>Пример зарегистрированного пользователя <samp>Nikolay</samp></p>
    <p>При регистрации вы можете ввести своё имя, например <kbd>Ivan</kbd>
    <hr>
</article>

<article>
    <blockquote>Я помню чудное мгновенье:<br>
        Передо мной
        <wbr>
        явилась ты,<br>
        Как мимолётное виденье,<br>
        Как гений
        <wbr>
        чистой красоты.
    </blockquote>
</article>

<article>
    <video controls style="width: 100%;">
        <source src="/static/video/hotel.mp4" type="video/mp4">
        Ваш браузер не поддерживает воспроизведение видео.
    </video>

    <audio controls style="width: 100%;">
        <source src="/static/mp3/lofi.mp3" type="audio/mp3">
        Ваш браузер не поддерживает воспроизведение видео.
    </audio>
</article>

<article>
    <iframe src="https://www.wikiwand.com/ru/HTML5" width="468" height="600">
        Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
</article>

<article>
    <h2 itemprop="event">История нашей компании</h2>
    <ul>
        <li><strong>Основание:</strong> Гостиница была основана в 1990 году в Минске.</li>
        <li><strong>Строительство:</strong> Строительство гостиницы началось в 1985 году и завершилось в 1990 году.</li>
        <li><strong>Открытие:</strong> Гостиница была открыта в 1990 году.</li>
        <li><strong>Первые постояльцы:</strong> Первыми постояльцами гостиницы были иностранные туристы.</li>
        <li><strong>Первые события:</strong> В первый год работы гостиницы в ней прошли несколько международных
            конференций.
        </li>
        <li><strong>Развитие:</strong> В течение второго года работы гостиница продолжила развиваться и расширять свои
            услуги.
        </li>
        <li><strong>Увеличение числа постояльцев:</strong> Количество постояльцев гостиницы в течение второго года
            увеличилось на 20%.
        </li>
        <li><strong>Совершенствование услуг:</strong> Гостиница ввела новые услуги и удобства для своих постояльцев,
            такие
            как ресторан, бар и бассейн.
        </li>
        <li><strong>Участие в мероприятиях:</strong> Гостиница приняла участие в нескольких международных выставках.
        </li>
    </ul>
</article>

<article>
    <h2 itemprop="contact">Контактная информация</h2>
    <p itemprop="address">Адрес: г. Минск</p>
    <p itemprop="telephone"> Телефон: +375 (29) 123-45-67</p>
    <p itemprop="email">Email: hotel@gmail.com</p>
</article>

<h2 id="n1" itemprop="certificate">Сертификат</h2>
<!--<img src="/static/other/sert.png" alt="Сертификат" width="400">-->


<div style="border:3px #333671 solid; width: 500px">
    <h1 style="color: #0059b2" align="center">ЕДИНЫЙ РЕЕСТР ГОСТИННИЦ</h1>
    <h1 style="color: red" align="center">СВИДЕТЕЛЬСТВО</h1>
    <h1 style="color: #0059b2" align="center">О ВНЕСЕНИИ СВЕДЕНИЙ</h1>
    <br><br><br>
    <small>
        <p style="margin:0;display:inline;float:left">МИНСК</p>
        <p style="margin:0;display:inline;float:right">6 АВГУСТА, 2017</p>
    </small>
    <br><br>
    <h4 align="center">ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТВСТВЕННОСТЬЮ "ХОТЕЛ ВИЗИТЕРС"</h4>
    <p align="center">(ИНН 34324234)</p>
    <h4 align="center"><u>Реестровый номер: 4932</u></h4>
    <br><br>

    <div class="example3">
        <div class="example_text">
            <h6>Климкович M.K.</h6>
            <h6>Директор Ассоциации "ХОТЕЛВИЗИТЕРС"</h6>
        </div>
    </div>
    <hr>
    <p align="right"><small>Ассоциация "объединение гостинниц<br> в сфере выездного туризма "ХОТЕЛВИЗИТЕРС"</small></p>
    <p align="right"><small>101087 Минск, ул. Гикало, дом 23</small></p>
    <p align="right"><small>Tel. +375 (29) 423-34-23</small></p>
    <p align="right">e-mail: office@cinema.by<small></small></p>
</div>


{% endblock %}